# APP
NODE_ENV=production
PORT=3001
JWT_SECRET=SUPER_SECRET_CHANGE_ME_NOW

# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/wwp_saas?schema=public"

# FRONTEND
NEXT_PUBLIC_API_URL=http://your-domain.com/api
